.logo{
    width: 60px;
    border-radius: 250px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 25px;
    border: 10px solid salmon;

}
.listitems >ul{
    list-style-type:none;
    display: flex;
}
.listitems >ul >li{
    padding:10px ;
    cursor: pointer;
    font-weight: 700;
}
.listitems{
    display: flex;
}
.listitems >ul :hover{
color: aqua;
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    padding: 10px;
    margin: 10px;
    width: 250px;
}
.card >img{
    width: 100%;
}
.card:hover{
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
  ;
  cursor: pointer;
}
.productlist{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

